<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!--
MyBatis Generator 設定ファイル。
現在は backendしか存在しないため、ここで生成する
。
Lambdaなどの別なプロジェクトで自動生成したものを使用するときに、
LambdaプロジェクトでもMyBatis Generatorを実行するのはめんどくさいので、backendプロジェクトで生成したものをLambdaプロジェクトにコピーして使用する。
というのもめんどくさいので、MyBatis Generatorをdb-generatorプロジェクトで実行し、mavenリポジトリに配置する。
backend, Lambdaはこれを依存関係で追加する。

ローカルリポジトリでもいいけど、AWS CodeArtifactに配置して、backend, Lambdaはこれを依存関係で追加する。

-->

<generatorConfiguration>

  <!-- DynamicSql 用のランタイム -->
  <context id="MyBatis3DynamicSqlContext"
    targetRuntime="MyBatis3Simple"
    defaultModelType="flat">

    <!-- DB 接続設定 -->
    <jdbcConnection
      driverClass="${jdbcDriverClass}"
      connectionURL="${jdbcUrl}"
      userId="${jdbcUsername}"
      password="${jdbcPassword}" />

    <!-- Entity（モデル）生成 -->
    <modelGenerator
      targetPackage="dev.enchander.rndevops.jester.playground.backend.domain.extension.entity"
      targetProject="src/main/java" />

    <!-- Mapper（アノテーションベース）生成 -->
    <clientGenerator
      type="ANNOTATEDMAPPER"
      targetPackage="dev.enchander.rndevops.jester.playground.backend.domain.extension.mapper"
      targetProject="src/main/java" />

    <!-- 対象テーブル（必要に応じて追加） -->
    <!-- いちいちここに追加するのはめんどくさいので、ワイルドカードで指定できるようにする。 -->
    <!-- Flywayの管理テーブルも含まれてしまうので、あきらめるか、Flywayの管理テーブルを別スキーマに移動する。 -->
    <!-- 
    なぜかこれだとMySQLの管理テーブルも作成されてしまうので、正規表現で設定する必要があるらしい。
    <table tableName="%" schema="jester" />
    -->
    <table tableName="users" />
    <table tableName="sessions" />

  </context>
</generatorConfiguration>